/* Add your CSS code here */
*{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: auto;
}
body{
    min-width: 500px;
    background-color: #e0eeee;
}

.profileBody{
    background-color:rgba(255,255,255,1);
    width:75%;
    border:40px;
    margin-top: 6px;
    margin-left: 55px;
    height: 531.344px;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1px;
    padding-bottom: 40px;
    display: inline-block;
}
h1{margin-top: 5px;
}
h2{
    margin-top: 8px;
    margin-bottom: 10px;
}
p{
    margin-top: 5px;
}
p{margin-top: 20px;
margin-bottom: 10px;}
p{margin-top: 20px;}
ul{margin-top: 10px;
margin-bottom: 10px;}
p{margin-top: 20px;
margin-bottom: 19px;}
a:link{ color: rgb(102,51,102);

}
